@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  background: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

#wrapper {
  position: relative;
  margin-top: auto;
}

#to-top {
  position: sticky;
  top: 90%;
  left: 80%;
  z-index: 2;
  display: none;
}
#to-top img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

button, .navbar-toggler {
  border-style: none;
}

/*
* navigation bar + ripped speration
*/
.navbar a {
  padding: 0;
  margin-left: 1.2rem;
}
.navbar a img {
  width: 78px;
  height: 49px;
}
.navbar button {
  padding: 0.4rem 1.3rem 0.2rem;
}
.navbar :after {
  content: " ";
  display: block;
  width: 100%;
  height: 16px;
  background-image: url("../img/Top.png");
  background-repeat: round;
  background-size: cover;
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: 1;
}

/*
* "video player"
*/
.video-container {
  position: relative;
}
.video-container img {
  width: 100%;
  height: auto;
}

#videoPlayerBtn {
  width: 50px;
  height: 48.26px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/*
* For info area 
*/
.text-area {
  font-family: "Montserrat";
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  padding: 3.5rem 1rem 4rem 1rem;
}

/*
* picture container
*/
.picture-container {
  position: relative;
}
.picture-container .sm-content {
  width: 100%;
  height: 50%;
}
.picture-container .bottom-pics {
  height: 90%;
}
.picture-container .anda-format {
  height: 100%;
}

.picture-container:before {
  content: " ";
  width: 100%;
  height: 30px;
  display: block;
  background-image: url("../img/ripped_6_7.png");
  background-repeat: round;
  background-size: cover;
  position: absolute;
  left: 0;
}

.picture-container:after {
  content: " ";
  display: block;
  height: 25px;
  background-image: url("../img/ripped_6_8.png");
  position: absolute;
  width: 100%;
  bottom: 3%;
}

/*
* links
*/
.btn-format {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 21.94px;
  background-color: #FFA800;
  padding: 0.85rem 3.6rem;
  color: #FFFFFF;
  margin-bottom: 5rem;
}

.link-format {
  padding-top: 6.5rem;
  font-family: "Oswald";
  font-size: 18px;
  line-height: 26.68px;
  color: rgb(47, 72, 88);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.link-format h5 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-left: 1rem;
  padding-bottom: 1.4rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

/*
* Question form
*/
.form-text {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 22px;
  color: rgb(47, 72, 88);
  padding-top: 2.5rem;
  padding-bottom: 2.3rem;
}

.field-format {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 35px;
  width: 95%;
  background-color: rgba(196, 196, 196, 0.4);
  border-color: rgba(196, 196, 196, 0.4);
  font-family: "Montserrat-Regular";
  font-size: 14px;
  border-radius: 6px;
}

#FormControl ::placeholder {
  color: rgb(47, 72, 88);
}

#FormControlQuest {
  height: 150px;
}

.text-aligne {
  padding-left: 9px;
  padding-bottom: 10px;
  font-family: "Montserrat-Regular";
  font-size: 12px;
  color: rgb(47, 72, 88);
  text-align: left;
  line-height: 14.63px;
}

#FormCheck {
  margin-right: 20px;
  padding-top: 5px;
  height: 16px;
  width: 16px;
  background-color: #E7E7E7;
  border-color: #E7E7E7;
}

#checkLabel {
  font-family: "Montserrat-Regular";
  font-size: 12px;
  color: rgb(47, 72, 88);
  text-align: left;
  line-height: 15px;
  padding-top: 5px;
}

#form-submit-btn {
  margin-top: 41px;
  margin-right: 10px;
  padding: 0.8rem 2.9rem;
  font-family: "Montserrat";
}

/*
* Sponsors
*/
.sponsor-format {
  margin-top: 40px;
  position: relative;
}
.sponsor-format .backgroung-img {
  width: 100%;
  height: 395px;
}
.sponsor-format h3 {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #FFCB66;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 35.57px;
  top: 25%;
  left: 50%;
}
.sponsor-format #teikumslogo {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #FFCB66;
  top: 51%;
  left: 27%;
}
.sponsor-format #semlogo {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #FFCB66;
  top: 51%;
  left: 73%;
}
.sponsor-format #citylogo {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #FFCB66;
  top: 72%;
  left: 27%;
}
.sponsor-format #linearlogo {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #FFCB66;
  top: 74%;
  left: 73%;
}

/*
* footer
*/
footer {
  font-family: "Montserrat";
}

.footer-img {
  position: relative;
  background-color: #FFCB66;
  width: 100%;
  height: 483px;
}

.footer {
  position: relative;
  margin-top: -2px;
}
.footer #GoldenV2Logo {
  position: absolute;
  top: 9%;
  left: 20px;
  background-color: rgb(47, 72, 88);
}
.footer h4 {
  background-color: rgb(47, 72, 88);
  color: #FFFFFF;
  position: absolute;
  margin-top: 3px;
  left: 6%;
  top: 35%;
  font-size: 18px;
}
.footer #footer-contact {
  background-color: rgb(47, 72, 88);
  color: #FFFFFF;
  position: absolute;
  left: 6%;
  top: 46%;
}
.footer h6 {
  background-color: rgb(47, 72, 88);
  color: #FFFFFF;
  font-size: 12px;
  line-height: 18px;
}
.footer h5 {
  background-color: rgb(47, 72, 88);
  color: #FFFFFF;
  position: absolute;
  font-size: 14px;
  margin-top: 2px;
  font-weight: 700;
  line-height: 17px;
}
.footer a {
  text-decoration: none;
}
.footer .soc-icon {
  background-color: rgb(47, 72, 88);
  color: #FFFFFF;
  position: absolute;
  top: 74%;
  left: 6%;
}
.footer .soc-icon img {
  background-color: rgb(47, 72, 88);
  color: #FFFFFF;
  margin-right: 30px;
}
.footer #trademark {
  background-color: rgb(47, 72, 88);
  color: #FFFFFF;
  position: absolute;
  left: 6%;
  top: 86.5%;
}
.footer p {
  background-color: rgb(47, 72, 88);
  color: #FFFFFF;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #to-top {
    left: 85%;
  }

  .navbar {
    height: 71px;
    margin-bottom: 12px;
  }
  .navbar a {
    margin-left: 4em;
  }
  .navbar a img {
    width: 128px;
    height: 82px;
  }
  .navbar button {
    margin-right: 4rem;
  }
  .navbar :after {
    content: " ";
    height: 22px;
    bottom: -33px;
  }

  /*
  * "video player"
  */
  .video-container img {
    height: 395px;
  }

  .video-container #videoPlayerBtn {
    width: 86px;
    height: 83px;
  }

  /*
  * For info area 
  */
  .text-area {
    font-family: "Montserrat-Regular";
    font-size: 18px;
    line-height: 21.94px;
    padding: 8.1rem 5rem 7.6rem 5rem;
  }

  /*
  * picture container
  */
  .picture-container .bottom-pics {
    height: 100%;
  }

  .picture-container:after {
    bottom: -1%;
  }

  /*
  * links
  */
  .link-format {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 9.2rem;
    padding-left: 0.5rem;
  }
  .link-format h5 {
    width: 233px;
    padding-bottom: 3rem;
    margin: 0;
  }
  .link-format .lower-link-text {
    padding-bottom: 4.7rem;
    padding-right: 0;
  }
  .link-format .link-container-lower {
    padding-right: 0.5rem;
  }

  /*
  * Question form
  */
  .form-text {
    font-size: 30px;
    line-height: 44.46px;
    padding-top: 4rem;
    padding-bottom: 3.5rem;
  }

  .field-format {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    height: 40px;
    width: 88%;
    font-size: 18px;
  }

  #FormControlQuest {
    height: 230px;
    margin-bottom: 0.6rem;
  }

  #FormControlName, #FormControlEmail {
    width: 42.5%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .text-aligne {
    padding-left: 2.8rem;
    font-size: 14px;
    line-height: 17.07px;
  }

  #FormCheck {
    margin-right: 20px;
    padding-top: 5px;
  }

  #checkLabel {
    font-size: 14px;
    color: rgb(47, 72, 88);
    text-align: left;
    line-height: 17.07px;
    padding: 0;
    width: 95%;
  }

  #form-submit-btn {
    margin-top: 2.6rem;
    margin-right: 0;
    margin-bottom: 7.6rem;
    padding: 1rem 3.8rem;
    font-size: 24px;
    line-height: 29.26px;
  }

  /*
  * Sponsors
  */
  .sponsor-format .backgroung-img {
    width: 100%;
    height: 250px;
  }
  .sponsor-format #teikumslogo {
    width: 144px;
    top: 55%;
    left: 20%;
  }
  .sponsor-format #semlogo {
    width: 124px;
    top: 55%;
    left: 44%;
  }
  .sponsor-format #citylogo {
    width: 142px;
    top: 55%;
    left: 67%;
  }
  .sponsor-format #linearlogo {
    width: 49px;
    height: 71px;
    top: 55%;
    left: 87%;
  }

  /*
  * footer
  */
  .footer-img {
    height: 364px;
  }

  .footer #GoldenV2Logo {
    width: 162px;
    top: 17%;
    left: 80px;
  }
  .footer h4 {
    left: 10%;
    top: 69%;
    font-size: 24px;
    line-height: 29.26px;
  }
  .footer #footer-contact {
    left: 53%;
    top: 30%;
  }
  .footer h6 {
    font-size: 18px;
    line-height: 21.94px;
    margin-top: 2px;
    text-align: right;
  }
  .footer h5 {
    font-size: 18px;
    line-height: 21.94px;
    padding-left: 8.4rem;
  }
  .footer .soc-icon {
    top: 71%;
    left: 80%;
  }
  .footer p {
    font-size: 16px;
    line-height: 19.5px;
    margin-left: 2.1rem;
    margin-right: 2.6rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 1200px) {
  #to-top {
    top: 95%;
    left: 90%;
  }

  .navbar {
    height: 92px;
  }
  .navbar a {
    margin-left: 4rem;
  }
  .navbar a img {
    width: 159px;
    height: 99px;
  }
  .navbar .navbar-nav {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 22px;
    margin-left: 2.5rem;
  }
  .navbar .navbar-nav a {
    margin-left: 1.2rem;
    margin-top: 2rem;
    color: #060606;
  }
  .navbar :after {
    height: 36px;
    bottom: -45px;
  }

  /*
  * Video player
  */
  .video-container img {
    width: 100%;
    height: 665px;
  }

  /*
  * For info area 
  */
  .text-area {
    font-size: 18px;
    line-height: 21.94px;
    padding: 8rem 22rem 9rem 22rem;
  }

  /*
  * picture container
  */
  .picture-container .bottom-pics {
    height: 80%;
  }
  .picture-container .sm-content {
    height: 40%;
  }
  .picture-container .anda-format {
    height: 80%;
  }

  .picture-container::after {
    bottom: 19%;
  }

  /*
  * links
  */
  .link-format {
    padding-top: 7.3rem;
    padding-left: 11rem;
  }
  .link-format h5 {
    font-size: 24px;
    width: 410px;
  }
  .link-format .lower-link-text {
    padding-bottom: 3rem;
    width: 500px;
  }
  .link-format .link-container-lower {
    padding-right: 8rem;
  }

  /*
  * Question form
  */
  .field-format {
    height: 43px;
    width: 55%;
    font-size: 18px;
  }

  #FormControlQuest {
    height: 232px;
  }

  #FormControlName, #FormControlEmail {
    width: 26.5%;
  }

  .text-aligne {
    padding-left: 15.8rem;
    padding-top: 0;
    margin-bottom: 1.4rem;
    font-size: 18px;
    line-height: 21.94px;
  }

  #checkLabel {
    width: 65%;
  }

  #form-submit-btn {
    margin-top: 1rem;
    margin-bottom: 8rem;
  }

  /*
  * Sponsors
  */
  .sponsor-format .backgroung-img {
    height: 450px;
  }
  .sponsor-format h3 {
    top: 23%;
  }
  .sponsor-format #teikumslogo {
    width: 241px;
    top: 54%;
    left: 21%;
  }
  .sponsor-format #semlogo {
    width: 204px;
    top: 54%;
    left: 44%;
  }
  .sponsor-format #citylogo {
    width: 238px;
    top: 54%;
    left: 67%;
  }
  .sponsor-format #linearlogo {
    width: 84px;
    height: 120px;
    top: 54%;
    left: 85%;
  }

  /*
  * footer
  */
  .footer-img {
    height: 364px;
  }

  .footer #GoldenV2Logo {
    width: 187px;
    top: 15%;
    left: 62px;
  }
  .footer h4 {
    left: 84%;
    top: 14%;
  }
  .footer #footer-contact {
    left: 75%;
    top: 27.5%;
  }
  .footer .soc-icon {
    top: 66%;
    left: 89%;
  }
  .footer .soc-icon img {
    height: 36px;
  }
  .footer .footer-nav {
    background-color: rgb(47, 72, 88);
    color: #FFFFFF;
    position: absolute;
    top: 13%;
    right: 61%;
  }
  .footer .footer-nav a {
    background-color: rgb(47, 72, 88);
    color: #FFFFFF;
    margin-bottom: 0.4rem;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 22px;
  }
  .footer .footer-details {
    background-color: rgb(47, 72, 88);
    color: #FFFFFF;
    position: absolute;
    top: 13%;
    right: 30%;
    font-size: 18px;
    line-height: 22px;
  }
  .footer .footer-details strong {
    background-color: rgb(47, 72, 88);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .footer .footer-details p {
    margin-bottom: 0.9rem;
  }
  .footer h5 {
    display: none;
  }
  .footer .bot-p {
    margin: 0;
    width: 220px;
    margin-right: 51rem;
  }
}

/*# sourceMappingURL=style.css.map */
